body{
	background-color: rgb(250, 250, 250);
}

h1, h2, h3, h4, h5, h6{
	color: black;
}

p, span, small{
	color: #888;
}


hr{
	margin: 20px;
	background-color: #eaeaea;
}


.navbar{
        background: rgb(237, 238, 242);

        }

.nav-link{
        color: rgb(0,0,0)
        }


.navbar-l{
        color: rgb(0,0,0)
        }