{% extends 'detector/base.html' %}

{% block content %}
<br/>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4 align="center">Upload Videos</h4>
            {% for message in messages %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br><br>
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit" >Upload</button>
            </form>
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}